{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <link rel="shortcut icon" type="LogoGuardian/png" href="{% static 'images/LogoGuardian.png' %}"/>
        <title>GUARDIAN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fugaz+One&family=Lobster&family=Russo+One&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
                integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
                crossorigin=""></script>

        <!– links del geolocalizador–>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@[VERSION]/dist/L.Control.Locate.min.css"/>
        <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"/>
        <link rel="stylesheet" href="{% static 'styles/Control.Coordinates.css' %}">
        <script src="{% static 'scripts/Control.Coordinates.js' %}"></script>
        <!– links del geolocalizador–>

        <!– links del buscador –>
        <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css"/>
        <script src="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.umd.js"></script>
        <script src="https://rawgit.com/k4r573n/leaflet-control-osm-geocoder/master/Control.OSMGeocoder.js"></script>
        <link rel="stylesheet" href="https://rawgit.com/k4r573n/leaflet-control-osm-geocoder/master/Control.OSMGeocoder.css"/>
        <!– links del buscador –>
    </head>
    <body>
        <div class="Inicio">
            <div style="float: left;" class="contenedor-texto">
                <h1 class="Title">GUARDIAN</h1>
            </div>
            <div class="contenedor-imagen">
                <img src="{% static 'images/LogoGuardian.png' %}" class="App-logo" alt="logo"/>
            </div>
        </div>

        <header class="Eslogan">Tu web segura</header>

        <div class="container">
            <nav class="nav-main">
                <ul class="nav-menu">
                    <li>
                        <a href="{% url 'index' %}">INICIO</a>
                    </li>
                    <li>
                        <a href="{% url 'quienes-somos'%}">QUIENES SOMOS</a>
                    </li>
                    <li>
                        <a href="{% url 'reporte' %}">HACER REPORTE</a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}">MI CUENTA</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div id = 'map'></div>
        <script src="{% static 'scripts/main.js '%}" charset="utf-8"></script>
    </body>
</html>
