.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

.Titulo{
  font-family: 'Dancing Script', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Russo One', sans-serif;
  padding-top: 10px;
  


}

.Eslogan{
  padding-bottom: 15px;
  font-family: 'Dancing Script', cursive;
  font-family: 'Fugaz One', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Russo One', sans-serif;


}

.menuPaginaPrincipal{
  width: 100%;
  background: #2f2f2f;
  text-align: center;
}

.contenedorMenu{
  width: 80%;
  margin: 0 auto;

}

.menuPaginaPrincipal ul{
  list-style: none;
}

.menuPaginaPrincipal ul li{
  display: inline-block;
  padding: 15px;
  transition: all .3s ease;
}

.menuPaginaPrincipal ul li:hover{
  transform: scale(1.2);
  background: #37c0e9;
}

.menuPaginaPrincipal ul li a{
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
